Package: com.initwithframe.velvet
Name: Velvet
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: initWithFrame
Author: initWithFrame
Section: Tweaks
