<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>						<true/>
			<key>defaults</key>						<string>com.initwithframe.velvet</string>
			<key>key</key>							<string>enabled</string>
			<key>label</key>						<string>Enabled</string>
			<key>cellClass</key>					<string>VelvetToggle</string>
			<key>set</key>							<string>setWithRespring:specifier:</string>
		</dict>
		
		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Notifications</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>VelvetBannerController</string>
			<key>icon</key>							<string>icons/banner</string>
			<key>label</key>						<string>Banner</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>VelvetLockscreenController</string>
			<key>icon</key>							<string>icons/lockscreen</string>
			<key>label</key>						<string>Lockscreen</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>id</key>							<string>footerVersion</string>
			<key>footerAlignment</key> 			    <string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string>Velvet</string>
</dict>
</plist>
